.FilterSilluet {
  width: 276px;
  overflow: hidden;
  .typeOfSilluet {
    opacity: 1;
    height: 100px;
    transition: opacity 0.2s ease-out;
    transition: height 0.2s ease-out;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .silluetSquare {
      // text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--FilterColor);
    }
  }
  .hideTypeOfSilluet {
    opacity: 0;
    height: 0px;
    transition: opacity 0.2s ease-out;
    transition: height 0.2s ease-out;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .silluetSquare {
      text-align: center;
      border: 1px solid var(--FilterColor);
    }
  }
}
