.ProductList {
  .ProductContainer {
    position: relative;

    .loveItContainer {
      z-index: 1000000;
      position: absolute;

      .loveIttext {
        & > li {
          font-size: 230%;
        }
      }
    }
    .productImage {
      position: relative;
      cursor: pointer;

      .heartImgContainer {
        .heartImgEmpty {
          z-index: 100;
          position: absolute;
          top: 10px;
          left: 10px;
          width: 10%;
          transition: transform 0.2s ease-out;
          &:hover {
            transform: scale(1.2);
          }
        }

        .heartImgFillUnvalid {
          z-index: 99;
          position: absolute;
          top: 10px;
          left: 10px;
          width: 0%;
          transition: width 0.2s ease-out;
          transition: transform 0.2s ease-out;
          &:hover {
            transform: scale(1.2);
          }
        }

        .heartImgFillValid {
          z-index: 99;
          position: absolute;
          top: 10px;
          left: 10px;
          width: 10%;
          transition: width 0.2s ease-out;
          transition: transform 0.2s ease-out;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .mainShoesImage {
        .frontShoesImg {
          z-index: 50;
          position: relative;
          width: 100%;
          transition: opacity 0.2s ease-out;
          &:hover {
            opacity: 0;
          }
        }
        .backShoesImg {
          z-index: 49;
          position: absolute;
          width: 100%;
          left: 0px;
        }
      }

      .shoesImageByColor {
        .colorShoesImage {
          .colorShoesImageFront {
            z-index: 30;
            position: absolute;
            width: 100%;
            top: 0px;
            transition: opacity 0.2s ease-out;
            &:hover {
              opacity: 0;
            }
          }
          .colorShoesImageBack {
            z-index: 29;
            position: absolute;
            width: 100%;
            top: 0px;
          }
        }

        .showColorShoesImage {
          .colorShoesImageFront {
            z-index: 80;
            position: absolute;
            width: 100%;
            top: 0px;
            transition: opacity 0.2s ease-out;
            &:hover {
              opacity: 0;
            }
          }
          .colorShoesImageBack {
            z-index: 79;
            position: absolute;
            width: 100%;
            top: 0px;
          }
        }
      }
    }
    .productName {
      cursor: pointer;
    }
  }
}
