.ProductRightColor {
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 0;

  .ProductColorInfo {
    display: flex;
    justify-content: space-between;
  }

  .ProductColorPic {
    img {
      width: 65px;
      margin-right: 6px;
      border-bottom: 2px solid black;
    }
  }
}
