@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background-default-setting {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin main-h1-default {
  font-size: 46px;
  font-weight: 540;
  line-height: 60px;
}

@mixin main-h2-default {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

@mixin svg-arrow-white {
  width: 16px;
  margin-right: 10px;
  fill: #ffffff;
}

.dashBoard2 {
  @include flex-center;

  .productMain {
    width: 50%;
    height: 900px;
    color: #ffffff;
    background-image: url("https://image.converse.co.kr/cmsstatic/structured-content/18179/01_Home_01_Template_1440x1800.gif");
    @include background-default-setting;
    padding: 30px 0 0 30px;

    h1 {
      @include main-h1-default;
      margin-bottom: 14px;
    }

    h2 {
      @include main-h2-default;
      margin-bottom: 14px;
    }

    button {
      width: 180px;
      height: 45px;
      font-size: 14px;
      font-weight: 600;
      color: #000000;
      background: #ffffff;
      border: 1px solid #000000;
      outline: none;
      padding: 11px 16px;
      cursor: pointer;
      transition: opacity 0.2s ease-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  .productSub {
    width: 50%;
    height: 900px;

    .top {
      position: relative;
      height: 450px;
      background-image: url("https://image.converse.co.kr/cmsstatic/structured-content/18180/01_Home_02_Template_1440x900_Small.jpg?gallery");
      @include background-default-setting;
      &:hover {
        .buyBtn {
          opacity: 1;
        }

        .topOverlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000000;
          opacity: 0.7;
        }
      }

      .buyBtn {
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 390px;
        left: 290px;
        font-size: 38px;
        font-weight: bold;
        color: #ffffff;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .topOverlay {
        transition: opacity 0.6s, background-color 0.6s;
      }

      h2 {
        position: absolute;
        z-index: 1;
        font-size: 14px;
        font-weight: 300;
        color: #ffffff;
        padding: 30px 0 0 30px;
      }
    }

    .bottom {
      @include flex-center;
      height: 450px;

      .bottomLeft {
        width: 50%;
        height: 450px;
        background-image: url("https://image.converse.co.kr/cmsstatic/product/168928C_168928C_primary.jpg?browse");
        @include background-default-setting;
        transition: background-image 0.3s ease-out;
        &:hover {
          background-image: url("https://image.converse.co.kr/cmsstatic/product/168928C_168928C_hover.jpg?browse");
        }
      }

      .bottomRight {
        width: 50%;
        height: 450px;
        background-image: url("https://image.converse.co.kr/cmsstatic/product/168515C_168515C_primary.jpg?browse");
        @include background-default-setting;
        transition: background-image 0.3s ease-out;
        &:hover {
          background-image: url("https://image.converse.co.kr/cmsstatic/product/168515C_168515C_hover.jpg?browse");
        }
      }
    }
  }
}
