.SizeGuide {
  position: fixed;
  top: 20px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 40%;
  height: 80%;
  background-color: white;
  z-index: 99;
  overflow: auto;
  .sizeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 40px;
    .sizeCloseBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 28px;
      cursor: pointer;
    }
    .sizeCloseBtn:hover {
      transform: scale(1.2);
    }
    .sizeTitle {
      font-size: 24px;
      color: #757575;
      margin: 20px 0;
    }
    .sizeTitleSecond {
      width: 100%;
      margin: 20px 0;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
    }
    .sizeTable {
      width: 100%;
      #sizes {
        width: 100%;
        text-align: center;
        font-size: 13px;
        tr {
          th {
            width: 120px;
            padding: 8px;
            border-bottom: 1px solid #e5e5e5;
          }
          td {
            padding: 8px;
          }
        }
        tr:nth-child(2n) {
          background-color: #e5e5e5;
        }
      }
    }
  }
}
